*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background: #121212;
}

.download_btn {
  position: relative;
  padding: 1em 1.5em;
  color: #E9724C;
  font-size: 1.15rem;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #E9724C;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  display: flex;
}

.download_btn img{

  width: 25px;
  height: 25px;
}

.download_btn span {
  position: absolute;
  border-radius: 50%;
  font-size: 10px;
  opacity: 0.5;
  width: 20em;
  height: 20em;
  background: linear-gradient(90deg, #dc6239, #dc6239);
  transform: translate(-50%, -50%) scale(0);
  animation: animate 1s linear infinite;
  pointer-events: none;
}

@keyframes animate {
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}